{{! @template local_coursedynamicrules/new_rule_button }}
<button class="btn btn-primary my-auto" data-action="local_coursedynamicrules/rule-create" data-course-id="{{courseid}}" type="button">
    {{label}}
</button>
